<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h6><%= notice %><%= alert %></h6>
          </div>
      </div>
  </div>
</div>

<div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Insta</h1>
        <p class="lead">Instagramやった事無いので、想像でそれっぽいの作りました。</p>
      </div>
    </div>
  </div>